.App {
    text-align: center;
}

.btn {
    text-align: center;
}

.boke {
    height: 100px;
    background-color: aliceblue;
    margin: 10px;
}

.punchline {
    height: 100px;
    background-color: cornsilk;
    margin: 10px;
}